.login-container {
 height: 100%;
}
/* .login_con{
  background: #F8F8F8	;
} */
.login-container_1 {
  padding: 70px 0;
  text-align: center;

}
.fontType{
  font-family: 'Arial Narrow, sans-serif';
}
.Navimg{
  height: 40px;
}
.backgrounddiv {
  background: url("./background2.jpeg") no-repeat top center fixed;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-position: center;
  clear: both;
}
.backgrounddiv .container{
  z-index: 12;
  color:white;
}
#root{
  width: 100%;
  height: 100%;
}
.reset-container {
  padding: 70px 0;
  text-align: center;
}
.typetoggle {
  width: 100%;
  margin: auto;
}
.typetoggle-div {
  width: 100%;
  margin: auto;
}

.EventCreate {
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 100%;
  top: 0;
}

.displaynone {
  display: none;
}

.RegisteredEvents {
  overflow: hidden;
}
.Registered {
  height: 700px;
}

/* .EventsVol {
  padding-left: 270px;
} */

.activity {
  padding-left: 270px;
}

.searched{

  min-height: 200px;
}

/* .Events{
  padding-left: 200px;
} */

.activeClass{
  color:#17A2B8

}

.navbar{
  z-index: 15;
}




