a {
  color: inherit;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  min-width: 270px;
  max-width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  margin-left: 270px;
  width: 100%;
}

.navtop {
  margin-left: 256px;
}

.event-card {
  padding: 5px;
  min-height: 350px;
}
.volDashBack{
  background:  #F0F0F0;
  
  
background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  overflow: scroll;
}

.RegisteredEvents{
  overflow-y: scroll
}